<div class='wrapper'>
  <div class='app'>
    <header>
      <div>
        <span>{{date|date}}</span>
        <h1>Today</h1>
      </div>
    </header>
    <div class='list'>
      <div class='card' *ngFor="let app of appList" id="{{app.id}}" (click)="cardOpen(app.id)">
        <div class='content'>
          <div class='cover' [style.background-image]="'url(' + app.imgUrl + ')'">
            <span class='category'>{{app.category}}</span>
            <h2 class='title'>{{app.title}}</h2>
            <span class='footer'>{{app.footer}}</span>
          </div>
          <article class='article'>
            <p *ngFor="let paragraph of app.content">{{paragraph}}</p>
          </article>
        </div>
        <button class='close' (click)="cardClose($event, app.id)">×</button>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>